## Lead Scoring with Logistic Regression
##### Build a logistic regression model to assign a lead score between 0 and 100 to each of the leads

In [211]:
import warnings
warnings.filterwarnings('ignore')

In [212]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_columns',500)

## [Step 1. Reading and Understanding the Data](#step1)

## [Step 2.Data Cleaning and EDA](#step2)
[2.1 Missing value check](#step2.1)<br>
[2.2 Cleaning and Visualizing categorical variables](#step2.2)<br>
[2.3 Cleaning and Visualizing numerical variables](#step2.3)<br>
[2.4 Outlier Treatment](#step2.4)<br>
[2.5 Check for duplicates](#step2.5)<br>
[2.6 Check for data type conversion](#step2.6)<br>

## [Step 3. Preprocessing and Data Preparation](#step3)
[3.1 Adding Derived variables](#step3.1)<br>
[3.2 Categorizing variables](#step3.2)<br>
[3.3 Creating dummy variables](#step3.3)<br>
[3.4 Dropping unncessary Columns](#step3.4)<br>

## [Step 4. Creating Training and Testing Sets and scaling the features](#step4)
[4.1 Dividing the data into train and test set](#step4.1)<br>
[4.2 Scaling numeric variables](#step4.2)<br>
[4.3 Feature elimination](#step4.3)<br>

## [Step 5. Model Building](#Step5)

The above steps will be covered to build the model.

## Step 1. Reading and Understanding the Data<a id='step1'></a>

In [213]:
lead_data = pd.read_csv('Leads.csv')
lead_data.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,Country,Specialization,How did you hear about X Education,What is your current occupation,What matters most to you in choosing a course,Search,Magazine,Newspaper Article,X Education Forums,Newspaper,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Tags,Lead Quality,Update me on Supply Chain Content,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [214]:
lead_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
Prospect ID                                      9240 non-null object
Lead Number                                      9240 non-null int64
Lead Origin                                      9240 non-null object
Lead Source                                      9204 non-null object
Do Not Email                                     9240 non-null object
Do Not Call                                      9240 non-null object
Converted                                        9240 non-null int64
TotalVisits                                      9103 non-null float64
Total Time Spent on Website                      9240 non-null int64
Page Views Per Visit                             9103 non-null float64
Last Activity                                    9137 non-null object
Country                                          6779 non-null object
Specialization                                   7802 non-null object
How did you hear about X Education               7033 non-null object
What is your current occupation                  6550 non-null object
What matters most to you in choosing a course    6531 non-null object
Search                                           9240 non-null object
Magazine                                         9240 non-null object
Newspaper Article                                9240 non-null object
X Education Forums                               9240 non-null object
Newspaper                                        9240 non-null object
Digital Advertisement                            9240 non-null object
Through Recommendations                          9240 non-null object
Receive More Updates About Our Courses           9240 non-null object
Tags                                             5887 non-null object
Lead Quality                                     4473 non-null object
Update me on Supply Chain Content                9240 non-null object
Get updates on DM Content                        9240 non-null object
Lead Profile                                     6531 non-null object
City                                             7820 non-null object
Asymmetrique Activity Index                      5022 non-null object
Asymmetrique Profile Index                       5022 non-null object
Asymmetrique Activity Score                      5022 non-null float64
Asymmetrique Profile Score                       5022 non-null float64
I agree to pay the amount through cheque         9240 non-null object
A free copy of Mastering The Interview           9240 non-null object
Last Notable Activity                            9240 non-null object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [215]:
lead_data.shape

(9240, 37)

In [216]:
lead_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Lead Number,9240.0,617188.435606,23405.995698,579533.0,596484.5,615479.0,637387.25,660737.0
Converted,9240.0,0.385390,0.486714,0.0,0.0,0.0,1.00,1.0
TotalVisits,9103.0,3.445238,4.854853,0.0,1.0,3.0,5.00,251.0
Total Time Spent on Website,9240.0,487.698268,548.021466,0.0,12.0,248.0,936.00,2272.0
Page Views Per Visit,9103.0,2.362820,2.161418,0.0,1.0,2.0,3.00,55.0
Asymmetrique Activity Score,5022.0,14.306252,1.386694,7.0,14.0,14.0,15.00,18.0
Asymmetrique Profile Score,5022.0,16.344883,1.811395,11.0,15.0,16.0,18.00,20.0

Out of 37 columns above 5 seems to be numeric ones

In [217]:
#Checking data imbalance
lead_data['Converted'].mean()

0.3853896103896104

#### Only 38% of the leads were converted

## Step 2.Data Cleaning and EDA<a id='step2'></a>

#### 2.1 Missing value check<a id=step2.1></a>

In [218]:
# sum it up to check how many rows have all missing values
lead_data.isnull().all(axis=1).sum()

0

In [219]:
# % of the missing values (column-wise)
round(100*(lead_data.isnull().sum()/len(lead_data.index)), 2)

Prospect ID                                       0.00
Lead Number                                       0.00
Lead Origin                                       0.00
Lead Source                                       0.39
Do Not Email                                      0.00
Do Not Call                                       0.00
Converted                                         0.00
TotalVisits                                       1.48
Total Time Spent on Website                       0.00
Page Views Per Visit                              1.48
Last Activity                                     1.11
Country                                          26.63
Specialization                                   15.56
How did you hear about X Education               23.89
What is your current occupation                  29.11
What matters most to you in choosing a course    29.32
Search                                            0.00
Magazine                                          0.00
Newspaper Article                                 0.00
X Education Forums                                0.00
Newspaper                                         0.00
Digital Advertisement                             0.00
Through Recommendations                           0.00
Receive More Updates About Our Courses            0.00
Tags                                             36.29
Lead Quality                                     51.59
Update me on Supply Chain Content                 0.00
Get updates on DM Content                         0.00
Lead Profile                                     29.32
City                                             15.37
Asymmetrique Activity Index                      45.65
Asymmetrique Profile Index                       45.65
Asymmetrique Activity Score                      45.65
Asymmetrique Profile Score                       45.65
I agree to pay the amount through cheque          0.00
A free copy of Mastering The Interview            0.00
Last Notable Activity                             0.00
dtype: float64

#### We do see lots of missing values and most of columns have greater than 20% missing values. Lets divide the columns into categorical and numerical and handle them one by one.

#### 2.1 Cleaning and Visualizing categorical variables<a id='step2.1'></a>

In [220]:
lead_data.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,Country,Specialization,How did you hear about X Education,What is your current occupation,What matters most to you in choosing a course,Search,Magazine,Newspaper Article,X Education Forums,Newspaper,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Tags,Lead Quality,Update me on Supply Chain Content,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [221]:
cat_cols = ['Lead Origin', 'Lead Source','Do Not Email', 'Do Not Call', 'Last Activity',
       'Country', 'Specialization', 'How did you hear about X Education',
       'What is your current occupation',
       'What matters most to you in choosing a course', 'Search', 'Magazine',
       'Newspaper Article', 'X Education Forums', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Courses', 'Tags', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'Asymmetrique Activity Index',
       'Asymmetrique Profile Index','I agree to pay the amount through cheque',
       'A free copy of Mastering The Interview', 'Last Notable Activity']

In [222]:
cat_cols

['Lead Origin',
 'Lead Source',
 'Do Not Email',
 'Do Not Call',
 'Last Activity',
 'Country',
 'Specialization',
 'How did you hear about X Education',
 'What is your current occupation',
 'What matters most to you in choosing a course',
 'Search',
 'Magazine',
 'Newspaper Article',
 'X Education Forums',
 'Newspaper',
 'Digital Advertisement',
 'Through Recommendations',
 'Receive More Updates About Our Courses',
 'Tags',
 'Lead Quality',
 'Update me on Supply Chain Content',
 'Get updates on DM Content',
 'Lead Profile',
 'City',
 'Asymmetrique Activity Index',
 'Asymmetrique Profile Index',
 'I agree to pay the amount through cheque',
 'A free copy of Mastering The Interview',
 'Last Notable Activity']

In [223]:
round(100*(lead_data[cat_cols].isnull().sum()/len(lead_data[cat_cols].index)), 2)

Lead Origin                                       0.00
Lead Source                                       0.39
Do Not Email                                      0.00
Do Not Call                                       0.00
Last Activity                                     1.11
Country                                          26.63
Specialization                                   15.56
How did you hear about X Education               23.89
What is your current occupation                  29.11
What matters most to you in choosing a course    29.32
Search                                            0.00
Magazine                                          0.00
Newspaper Article                                 0.00
X Education Forums                                0.00
Newspaper                                         0.00
Digital Advertisement                             0.00
Through Recommendations                           0.00
Receive More Updates About Our Courses            0.00
Tags                                             36.29
Lead Quality                                     51.59
Update me on Supply Chain Content                 0.00
Get updates on DM Content                         0.00
Lead Profile                                     29.32
City                                             15.37
Asymmetrique Activity Index                      45.65
Asymmetrique Profile Index                       45.65
I agree to pay the amount through cheque          0.00
A free copy of Mastering The Interview            0.00
Last Notable Activity                             0.00
dtype: float64

#### Handling Lead Source

In [224]:
lead_data['Lead Source'].isnull().sum()

36

In [225]:
lead_data['Lead Source'].value_counts()

Google               2868
Direct Traffic       2543
Olark Chat           1755
Organic Search       1154
Reference             534
Welingak Website      142
Referral Sites        125
Facebook               55
bing                    6
google                  5
Click2call              4
Live Chat               2
Social Media            2
Press_Release           2
youtubechannel          1
Pay per Click Ads       1
WeLearn                 1
blog                    1
testone                 1
welearnblog_Home        1
NC_EDM                  1
Name: Lead Source, dtype: int64

#### Inferences:
- Google is written as google in 5 values.
- There are total 21 different values for the column
- There are few of them which were used only once. Will to combine them into others later.

In [226]:
#google to Google
lead_data.loc[(lead_data['Lead Source'] == 'google'),['Lead Source']] = 'Google'
lead_data['Lead Source'].value_counts()

Google               2873
Direct Traffic       2543
Olark Chat           1755
Organic Search       1154
Reference             534
Welingak Website      142
Referral Sites        125
Facebook               55
bing                    6
Click2call              4
Social Media            2
Live Chat               2
Press_Release           2
blog                    1
WeLearn                 1
youtubechannel          1
testone                 1
welearnblog_Home        1
NC_EDM                  1
Pay per Click Ads       1
Name: Lead Source, dtype: int64

In [227]:
lead_data['Lead Origin'].value_counts()

Landing Page Submission    4886
API                        3580
Lead Add Form               718
Lead Import                  55
Quick Add Form                1
Name: Lead Origin, dtype: int64

In [228]:
def check_count_conversion_rate(X):
    #checking counts of col
    col_counts = pd.DataFrame(lead_data[X].value_counts()).reset_index()
    col_counts.columns = [X,'Counts']

    #checking conversion rate by col
    groupby_col = pd.DataFrame(lead_data.groupby(X)['Converted'].mean()).reset_index()

    col_counts_percentage = col_counts.merge(groupby_col,how='inner',on=X)
    return col_counts_percentage

In [229]:
def check_2_col_count_conversion_rate(X):
    col_counts = pd.DataFrame(lead_data.groupby(X)[X[1]].count())
    col_counts.columns = ['Counts']
    col_counts.reset_index()
     #checking conversion rate by col
    groupby_col = pd.DataFrame(lead_data.groupby(X)['Converted'].mean()).reset_index()
    groupby_col
    col_counts_percentage = pd.merge(col_counts, groupby_col,  how='left', left_on=X, right_on = X)
    return col_counts_percentage

In [230]:
check_count_conversion_rate('Lead Source').sort_values(by='Converted',ascending = False)

          Lead Source  Counts  Converted
18             NC_EDM       1   1.000000
14            WeLearn       1   1.000000
11          Live Chat       2   1.000000
5    Welingak Website     142   0.985915
4           Reference     534   0.917603
9          Click2call       4   0.750000
10       Social Media       2   0.500000
0              Google    2873   0.399234
3      Organic Search    1154   0.377816
1      Direct Traffic    2543   0.321667
2          Olark Chat    1755   0.255271
6      Referral Sites     125   0.248000
7            Facebook      55   0.236364
8                bing       6   0.166667
12      Press_Release       2   0.000000
13               blog       1   0.000000
15     youtubechannel       1   0.000000
16            testone       1   0.000000
17   welearnblog_Home       1   0.000000
19  Pay per Click Ads       1   0.000000

#### Inferences:
- Welingak Website has the maximum conversion rate followed by Reference
- Google and Direct Traffic has a top counts and a good conversion rate of ~35%

In [231]:
check_count_conversion_rate('Lead Origin')

               Lead Origin  Counts  Converted
0  Landing Page Submission    4886   0.361850
1                      API    3580   0.311453
2            Lead Add Form     718   0.924791
3              Lead Import      55   0.236364
4           Quick Add Form       1   1.000000

Lets check the counts of `Lead Source` based on `Lead Origin`

In [232]:
check_2_col_count_conversion_rate(['Lead Origin','Lead Source'])

                Lead Origin        Lead Source  Counts  Converted
0                       API     Direct Traffic     110   0.354545
1                       API             Google    1158   0.374784
2                       API         Olark Chat    1753   0.254991
3                       API     Organic Search     456   0.385965
4                       API     Referral Sites      98   0.183673
5                       API       Social Media       1   1.000000
6                       API               bing       4   0.000000
7   Landing Page Submission     Direct Traffic    2433   0.320181
8   Landing Page Submission           Facebook       1   0.000000
9   Landing Page Submission             Google    1714   0.415403
10  Landing Page Submission             NC_EDM       1   1.000000
11  Landing Page Submission     Organic Search     698   0.372493
12  Landing Page Submission  Pay per Click Ads       1   0.000000
13  Landing Page Submission      Press_Release       2   0.000000
14  Landing Page Submission     Referral Sites      27   0.481481
15  Landing Page Submission       Social Media       1   0.000000
16  Landing Page Submission            WeLearn       1   1.000000
17  Landing Page Submission               bing       2   0.500000
18  Landing Page Submission               blog       1   0.000000
19  Landing Page Submission            testone       1   0.000000
20  Landing Page Submission   welearnblog_Home       1   0.000000
21  Landing Page Submission     youtubechannel       1   0.000000
22            Lead Add Form         Click2call       4   0.750000
23            Lead Add Form             Google       1   1.000000
24            Lead Add Form          Live Chat       2   1.000000
25            Lead Add Form         Olark Chat       2   0.500000
26            Lead Add Form          Reference     534   0.917603
27            Lead Add Form   Welingak Website     142   0.985915
28              Lead Import           Facebook      54   0.240741

#### We notice that Lead Source is highly affected by Lead Origin. Therefore, replacing the missing values of Lead Source by the mode of Lead Source depending on the Lead Origin

    Lead Origin                 Mode of Lead Source
    - API                        Olark Chat
    - Landing Page Submission	Direct Traffic
    - Lead Add Form              Reference
    - Lead Import                Facebook

In [233]:
lead_data.loc[(pd.isnull(lead_data['Lead Source'])),['Lead Origin','Lead Source']]

                  Lead Origin Lead Source
836             Lead Add Form         NaN
1569            Lead Add Form         NaN
1746            Lead Add Form         NaN
2020            Lead Add Form         NaN
2025            Lead Add Form         NaN
2152            Lead Add Form         NaN
2346            Lead Add Form         NaN
2544              Lead Import         NaN
2601           Quick Add Form         NaN
2676            Lead Add Form         NaN
3028            Lead Add Form         NaN
3266  Landing Page Submission         NaN
3268            Lead Add Form         NaN
3928            Lead Add Form         NaN
3945            Lead Add Form         NaN
4406            Lead Add Form         NaN
4409            Lead Add Form         NaN
4605            Lead Add Form         NaN
4653            Lead Add Form         NaN
4804            Lead Add Form         NaN
4831            Lead Add Form         NaN
4843            Lead Add Form         NaN
5253            Lead Add Form         NaN
5621            Lead Add Form         NaN
5840            Lead Add Form         NaN
5960            Lead Add Form         NaN
6124            Lead Add Form         NaN
7302            Lead Add Form         NaN
7306            Lead Add Form         NaN
7525            Lead Add Form         NaN
7847            Lead Add Form         NaN
8092            Lead Add Form         NaN
8118            Lead Add Form         NaN
8276            Lead Add Form         NaN
8490            Lead Add Form         NaN
9160            Lead Add Form         NaN

In [234]:
origin_source_mode_dict = dict({'API': 'Olark Chat', 'Landing Page Submission': 'Direct Traffic', 'Lead Add Form':'Reference','Lead Import':'Lead Import','Quick Add Form':'NaN'}) 
lead_data.loc[pd.isnull(lead_data['Lead Source']), ['Lead Source']] = lead_data.loc[pd.isnull(lead_data['Lead Source'])].apply(lambda x: origin_source_mode_dict[x['Lead Origin']],axis=1)
check_2_col_count_conversion_rate(['Lead Origin','Lead Source'])

                Lead Origin        Lead Source  Counts  Converted
0                       API     Direct Traffic     110   0.354545
1                       API             Google    1158   0.374784
2                       API         Olark Chat    1753   0.254991
3                       API     Organic Search     456   0.385965
4                       API     Referral Sites      98   0.183673
5                       API       Social Media       1   1.000000
6                       API               bing       4   0.000000
7   Landing Page Submission     Direct Traffic    2434   0.320460
8   Landing Page Submission           Facebook       1   0.000000
9   Landing Page Submission             Google    1714   0.415403
10  Landing Page Submission             NC_EDM       1   1.000000
11  Landing Page Submission     Organic Search     698   0.372493
12  Landing Page Submission  Pay per Click Ads       1   0.000000
13  Landing Page Submission      Press_Release       2   0.000000
14  Landing Page Submission     Referral Sites      27   0.481481
15  Landing Page Submission       Social Media       1   0.000000
16  Landing Page Submission            WeLearn       1   1.000000
17  Landing Page Submission               bing       2   0.500000
18  Landing Page Submission               blog       1   0.000000
19  Landing Page Submission            testone       1   0.000000
20  Landing Page Submission   welearnblog_Home       1   0.000000
21  Landing Page Submission     youtubechannel       1   0.000000
22            Lead Add Form         Click2call       4   0.750000
23            Lead Add Form             Google       1   1.000000
24            Lead Add Form          Live Chat       2   1.000000
25            Lead Add Form         Olark Chat       2   0.500000
26            Lead Add Form          Reference     567   0.911817
27            Lead Add Form   Welingak Website     142   0.985915
28              Lead Import           Facebook      54   0.240741
29              Lead Import        Lead Import       1   0.000000
30           Quick Add Form                NaN       1   1.000000

#### Handling Country

In [235]:
lead_data['Country'].value_counts()

India                   6492
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Bahrain                    7
Hong Kong                  7
Oman                       6
France                     6
unknown                    5
Kuwait                     4
South Africa               4
Canada                     4
Nigeria                    4
Germany                    4
Sweden                     3
Belgium                    2
Philippines                2
Bangladesh                 2
Uganda                     2
Italy                      2
Ghana                      2
Netherlands                2
Asia/Pacific Region        2
China                      2
Indonesia                  1
Liberia                    1
Tanzania                   1
Kenya                      1
Malaysia                   1
Switzerland                1
Denmark                    1
Vietnam                    1
Sri Lanka                  1
Russia                     1
Name: Country, dtype: int64

In [236]:
print('Missing country values: {}'.format(lead_data['Country'].isnull().sum()))
print('Rows where country and city both are missing: {}'.format(len(lead_data.loc[(lead_data['Country'].isnull() & lead_data['City'].isnull())])))

Missing country values: 2461
Rows where country and city both are missing: 838

In [237]:
check_count_conversion_rate('Country')
#Country seems to be an important columns as most of the lead from

                 Country  Counts  Converted
0                  India    6492   0.369840
1          United States      69   0.260870
2   United Arab Emirates      53   0.377358
3              Singapore      24   0.458333
4           Saudi Arabia      21   0.190476
5         United Kingdom      15   0.333333
6              Australia      13   0.230769
7                  Qatar      10   0.100000
8                Bahrain       7   0.571429
9              Hong Kong       7   0.571429
10                  Oman       6   0.500000
11                France       6   0.500000
12               unknown       5   0.200000
13                Kuwait       4   0.000000
14          South Africa       4   0.250000
15                Canada       4   0.000000
16               Nigeria       4   0.000000
17               Germany       4   0.250000
18                Sweden       3   0.333333
19               Belgium       2   0.000000
20           Philippines       2   0.000000
21            Bangladesh       2   0.500000
22                Uganda       2   0.000000
23                 Italy       2   0.000000
24                 Ghana       2   0.000000
25           Netherlands       2   0.500000
26   Asia/Pacific Region       2   0.500000
27                 China       2   0.000000
28             Indonesia       1   0.000000
29               Liberia       1   0.000000
30              Tanzania       1   0.000000
31                 Kenya       1   0.000000
32              Malaysia       1   0.000000
33           Switzerland       1   0.000000
34               Denmark       1   1.000000
35               Vietnam       1   0.000000
36             Sri Lanka       1   0.000000
37                Russia       1   0.000000

#### Country seems to be an important columns as Countries like India, US, Singapore have greater than 30% conversion rate.

In [249]:
check_count_conversion_rate('City')

                          City  Counts  Converted
0                       Mumbai    3222   0.406269
1                       Select    2249   0.490440
2            Thane & Outskirts     752   0.449468
3                 Other Cities     686   0.402332
4  Other Cities of Maharashtra     457   0.439825
5           Other Metro Cities     380   0.407895
6               Tier II Cities      74   0.337838

Replacing missing value of `Country` with 'Unknown' where `City` value is also missing

In [238]:
lead_data.loc[(lead_data['Country'].isnull() & lead_data['City'].isnull()),['Country']] = 'unknown'

In [239]:
len(lead_data.loc[(lead_data['Country'].isnull() & lead_data['City'].isnull())])

0

In [247]:
def handle_country(x):
    if x['City'] in ['Mumbai' ,'Thane & Outskirts','Other Cities of Maharashtra']:
        return 'India'
    else:
        return 'unknown'
    
lead_data.loc[lead_data['Country'].isnull(),['Country']] = lead_data.loc[lead_data['Country'].isnull(),['Country','City']].apply(lambda x: handle_country(x),axis=1)

In [248]:
check_count_conversion_rate('Country')

                 Country  Counts  Converted
0                  India    6826   0.389393
1                unknown    2132   0.384615
2          United States      69   0.260870
3   United Arab Emirates      53   0.377358
4              Singapore      24   0.458333
5           Saudi Arabia      21   0.190476
6         United Kingdom      15   0.333333
7              Australia      13   0.230769
8                  Qatar      10   0.100000
9                Bahrain       7   0.571429
10             Hong Kong       7   0.571429
11                  Oman       6   0.500000
12                France       6   0.500000
13                Kuwait       4   0.000000
14          South Africa       4   0.250000
15                Canada       4   0.000000
16               Nigeria       4   0.000000
17               Germany       4   0.250000
18                Sweden       3   0.333333
19               Belgium       2   0.000000
20           Philippines       2   0.000000
21            Bangladesh       2   0.500000
22                Uganda       2   0.000000
23                 Italy       2   0.000000
24                 Ghana       2   0.000000
25           Netherlands       2   0.500000
26   Asia/Pacific Region       2   0.500000
27                 China       2   0.000000
28             Indonesia       1   0.000000
29               Liberia       1   0.000000
30              Tanzania       1   0.000000
31                 Kenya       1   0.000000
32              Malaysia       1   0.000000
33           Switzerland       1   0.000000
34               Denmark       1   1.000000
35               Vietnam       1   0.000000
36             Sri Lanka       1   0.000000
37                Russia       1   0.000000

Unkown also comes in missing value

In [250]:
lead_data['Country'].isnull().sum()

0

In [251]:
lead_data['Country'].value_counts()

India                   6826
unknown                 2132
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Bahrain                    7
Hong Kong                  7
Oman                       6
France                     6
Kuwait                     4
South Africa               4
Canada                     4
Nigeria                    4
Germany                    4
Sweden                     3
Belgium                    2
Philippines                2
Bangladesh                 2
Uganda                     2
Italy                      2
Ghana                      2
Netherlands                2
Asia/Pacific Region        2
China                      2
Indonesia                  1
Liberia                    1
Tanzania                   1
Kenya                      1
Malaysia                   1
Switzerland                1
Denmark                    1
Vietnam                    1
Sri Lanka                  1
Russia                     1
Name: Country, dtype: int64

#### out of 2461 missing value of Country 2132 countries are still unknown and rest are substituted with 'India'

In [252]:
lead_data['Tags'].value_counts()

Will revert after reading the email                  2072
Ringing                                              1203
Interested in other courses                           513
Already a student                                     465
Closed by Horizzon                                    358
switched off                                          240
Busy                                                  186
Lost to EINS                                          175
Not doing further education                           145
Interested  in full time MBA                          117
Graduation in progress                                111
invalid number                                         83
Diploma holder (Not Eligible)                          63
wrong number given                                     47
opp hangup                                             33
number not provided                                    27
in touch with EINS                                     12
Lost to Others                                          7
Want to take admission but has financial problems       6
Still Thinking                                          6
In confusion whether part time or DLP                   5
Interested in Next batch                                5
Lateral student                                         3
Shall take in the next coming month                     2
University not recognized                               2
Recognition issue (DEC approval)                        1
Name: Tags, dtype: int64